@use "../../scss/" as *;

.contact {
  background-color: $body-bg;
  position: relative;
  overflow: hidden;

  .contact__information {
    display: flex;
    margin-bottom: $mb-2;
  }

  .contact__icon {
    font-size: 2rem;
    color: $text-color;
    margin-right: $mb-0-75;
  }

  .contact__title {
    font-size: $h3-font-size;
    font-weight: $font-medium;
  }

  .contact__subtitle {
    font-size: $small-font-size;
    color: rgb(104, 104, 104);
  }
}
