@use "../../scss/" as *;

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-bg;
  opacity: 100%;

  @include medium-768 {
    top: 0;
    bottom: initial;
    padding: 0 0rem;
  }

  @include large {
    padding: 0;
  }

  .nav {
    position: relative;
    max-width: 992px;
    height: $header-height;
    @include flex(center, space-between);

    &__menu {
      @include medium-max-768 {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: $body-bg;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba($color: #000000, $alpha: 0.15);
        transition: 0.3s;
      }

      @include small {
        padding: 2rem 0.25rem 4rem;
      }

      // @include medium-768 {
      //   height: calc($header-height + 1.5rem);
      // }
    }

    &__logo,
    &__toggle {
      color: $text-color;
      font-weight: $font-medium;
    }

    &__logo:hover {
      color: $main-color;
    }

    &__toggle {
      font-size: 1.1rem;
      cursor: pointer;
    }

    &__toggle:hover {
      color: $main-color;
    }

    &__list {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      @include small {
        column-gap: 0;
      }
    }

    .show-menu {
      bottom: 0;
    }

    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: $small-font-size;
      color: $text-color;
      font-weight: $font-medium;
      transition: 0.3s;
    }

    &__icon {
      font-size: 1.2rem;
    }

    @include medium-768 {
      &__icon,
      &__close,
      &__toggle {
        display: none;
      }

      &__list {
        display: flex;
        justify-content: space-between;
        column-gap: 2rem;
      }

      &__menu {
        width: 100%;
        // margin-left: auto;
        // margin-right: auto;
      }

      &__link {
        position: relative;
        font-size: 1.25rem;
        font-weight: 500;

        &::after {
          content: "";
          height: 2px;
          width: 0;
          position: absolute;
          bottom: 0;
          background-color: $main-color;
          transition: width 0.3s ease;
        }

        &.active::after,
        &:hover::after {
          width: 100%;
        }
      }
    }

    &__close {
      position: absolute;
      right: 1.3rem;
      bottom: 0.5rem;
      font-size: 1.5rem;
      cursor: pointer;
      color: $text-color;
    }

    &__close:hover {
      color: $main-color;
    }

    &__link:hover {
      color: $main-color;
    }

    .active-link {
      color: $main-color;
    }
  }
}

@include medium-768 {
  .scroll-header {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.35);
  }
}
