@use "../../scss/" as *;

.footer {
  padding-top: 2rem;

  &__bg {
    background-color: $black;
  }

  &__container {
    row-gap: 3.5rem;
    padding: 2rem 0 3rem;
  }

  &__title {
    font-size: $h1-font-size;
    margin-bottom: $mb-0-25;
  }

  &__subtitle {
    font-size: $small-font-size;
  }

  &__links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  &__link:hover {
    color: $main-color;
  }

  &__social {
    font-size: 1.25rem;
    margin-right: $mb-1-5;
  }

  &__social:hover {
    color: $main-color;
  }

  &__social,
  &__title,
  &__subtitle,
  &__link {
    color: $white;
  }

  @include medium-768 {
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }

    &__bg {
      padding: 3rem 0 3.5rem;
    }

    &__links {
      flex-direction: row;
      column-gap: 2rem;
    }

    &__socials {
      justify-self: flex-end;
    }

    &__copy {
      margin-top: 4.5rem;
    }
  }
}
