@use "./scss/" as *;

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 100%;

  scroll-behavior: smooth;
}

body {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.5;

  background-color: $body-bg;
  color: $text-color;

  @include medium-768 {
    margin: 0;
  }
}

.main {
  @include medium-768 {
    padding: 0 0rem;
  }
}

.button,
input,
textarea {
  outline: 0;
}

.button {
  cursor: pointer;
  border: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid $text-color;
  background-color: $body-bg;
  font-weight: $font-medium;
  transition: 0.3s;
}

.button:hover {
  background-color: $main-color;
}

.button__icon {
  margin-left: $mb-0-5;
}

.button__flex {
  @include flex(center, center);
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: unset;
}

.section {
  padding: 6rem 0 2rem;
  // height: 100vh;

  // &::after {
  //   content: "";
  //   height: 1px;
  //   width: 100%;
  //   background-color: $text-color;
  //   position: absolute;
  //   margin-top: 1rem;
  //   // bottom: 0;
  // }
}

.section__title {
  font-size: $h1-font-size;
  color: $text-color;
  text-align: center;
}

.section__subtitle {
  display: block;
  font-size: $small-font-size;
  margin-bottom: 4rem;
  text-align: center;
}

.container {
  max-width: 992px;

  @include small {
    margin-left: $mb-1;
    margin-right: $mb-1;
  }

  @include medium-min-350 {
    margin-left: $mb-1;
    margin-right: $mb-1;
  }

  @include medium-768 {
    margin-right: auto;
    margin-left: auto;
  }
}

.grid {
  display: grid;
  gap: 1.5rem;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: $body-bg;
  /* background-color: black; */
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: $text-color;
  /* border-radius: 0.5rem; */
}

::-webkit-scrollbar-thumb:hover {
  background-color: $main-color;
}
